body {
    background-color: cornflowerblue;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #fff;
}

main p {
    color: #fff;

}

img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.font-small {
font-size:medium
}

.Font {
    font-size: xx-large;
    text-align: center;
}